# Ignore node_modules, they will be installed inside the Docker container
node_modules

# Ignore build artifacts
build

# Ignore any development-specific files
*.log
.DS_Store
# .env
.env.local
.env.*.local
.cachedir
cache
tmp
.svelte-kit

# Ignore package manager lock files
yarn.lock
package-lock.json
.pnp.*

# Ignore development tools and configs
.editorconfig
.eslintignore
.eslintrc.js
.git
.gitignore
.prettierignore
.prettierrc
.vite
.vite.config.js